body{
    text-align: center;
}

#heading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

nav {
    display: flex;
    justify-content:space-around; 
}

#content-body {
    margin-top:150px;
}


@media screen and (max-width: 800px) {
}

