/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/

/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
  }
  
  /* -------------------------------------
  General styles (General Module, wrapping around the modules below)
  (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
  */
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-image: url("./images/Background-image.jpg");
    background-color: #eee;
    text-align: center;
    line-height: 1.5;
    height: auto;
    border: 3px solid white;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .show-print-only {
    display: none !important;
  }
  
  a {
    text-decoration: none;
  }
  
  /* -------------------------------------
  Header styles (Main Module)
  (all the styles inside the < header > or < nav > tags)
  */
  
  header {
    background-image: url("./images/hero-image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 700px;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 20px;
    margin-top: 0;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  header h1 {
    color: white;
    margin-top: 10%;
    font-size: 214%;
  }
  
  
  /* -------------------------------------
  Content styles (Main Module)
  (all the styles inside the < sections > or < aside > tags)
  */
  
  section {
    width: 70%;
    margin: 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-bottom: 2px solid green; */
    text-align: left;
    /* font-family: "Roboto", serif; */
    font-family: sans-serif;
  }
  
  /* -------------------------------------
  Footer styles (Main Module)
  (all the styles inside the < footer > tag)
  */
  
  footer {
    margin-top: 50px;
    margin-bottom: 15px;
    border: 0px;
  }
  
  
  /* -------------------------------------
  place all the desktop styles above this line
  Responsive styles
  (the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
  place all the mobile tables styles below this line
  */
  
  /*large desktop*/
  @media only screen and (max-width: 1600px) {
    body {
      border: 3px solid yellow;
    }
  }
  
  /*iPad lanscape / small laptop*/
  @media only screen and (max-width: 1024px) {
    body {
      border: 3px solid blue;
    }
  
    section {
      width: 85%;
    }
  }
  
  /*iPad potrait*/
  @media only screen and (max-width: 768px) {
    body {
      border: 3px solid red;
    }
  
    section {
      width: 95%;
    }
  }
  
  /*Android landscape*/
  @media only screen and (max-width: 640px) {
    body {
      border: 3px solid brown;
    }
  }
  
  /*iPhone landscape*/
  @media only screen and (max-width: 480px) {
    body {
      border: 3px solid green;
    }
  }
  
  /*iPhone portrait*/
  @media only screen and (max-width: 320px) {
    body {
      border: 3px solid purple;
    }
  }
  